.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  height: 50px;
  width: 100px;
}

.break {
  margin-right: 100px;
}

.time-left {
  margin-right: 100px;
}

.session {
  margin-right: 100px;
}
